{% extends 'base.html.twig' %}

{% block title %}Admin|Dashboard{% endblock %}

{% block body %}
    <p>Page backOffice gestion des membres accès restreint ROLE_SUPER_ADMIN & ROLE_ADMIN</p>
{% endblock %}
